<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ with .Title }}{{ . }} &ndash; {{ end }}{{ .Site.Title }}</title>
{{ with .Site.Params.about.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ if .Site.Params.noindex }}<meta name="robots" content="noindex">{{ end }}

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{{ "css/shared.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/tui.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/pattern.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">

{{ if os.FileExists "static/favicon.ico" }}<link rel="icon" href="{{ "favicon.ico" | absURL }}">{{ end }}
{{ if os.FileExists "static/favicon-32x32.png" }}<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">{{ end }}
{{ if os.FileExists "static/favicon-16x16.png" }}<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">{{ end }}
{{ if os.FileExists "static/apple-touch-icon.png" }}<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}">{{ end }}
{{ if os.FileExists "static/site.webmanifest" }}<link rel="manifest" href="{{ "site.webmanifest" | absURL }}">{{ end }}

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
